@use '@/styles/mixins' as *;

.table {
    width: 100%;
    max-width: 600px;

    &__header {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        border-bottom: 1px solid #0000001f;

        &__item {
            flex: 1 1 0;
            min-width: 0;
            max-width: 200px;
            padding: 16px 16px;
            box-sizing: border-box;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.875rem;
        }
    }

    &__container {
        @include d-flex(column, null, null);
        width: 100%;
        max-width: 100%;
    }

    &__item {
        width: 100%;
        flex-wrap: nowrap;
        @include d-flex(null, null, center);
        border-bottom: 1px solid #0000001f;
        box-sizing: border-box;
    }

    &__cell {
        flex: 1 1 0;
        min-width: 0;
        max-width: 200px;
        padding: 6px 16px;
        box-sizing: border-box;
        font-size: 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
